.form-signin {
  width: 100%;
  max-width: 455px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control {
  margin-bottom: 22px;
}

.auth-logo {
  width: 74px;
  height: 74px;
}
